<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= mensagem %></h1>

    <form action="/login" method="post">
      <table>

        <tr>
          <td>Email</td>
          <td><input type="text" id="Email"></td>
        </tr>

        <tr>
          <td>Senha</td>
          <td><input type="password" id="Senha"></td>
        </tr>

        <tr>
          <td colspan="2"><input type="submit" value="Entrar"></td>
        </tr>

      </table>
    </form>
  </body>
</html>
